body {
  font-family: "Agdasima", sans-serif;
  background-color: #cce3de;
}

.main-container {
  margin: 30px auto;
  background-color: white;
  max-width: 600px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 20px;
  /* opacity: 0.8; */
}

.search-input {
  background-color: rgba(204, 227, 222, 0.2);
  border: none;
  border-radius: 8px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
  text-align: center;
}

.search-button {
  background-color: #a2d2ff;
  padding: 15px 25px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}

.search-button:hover {
  cursor: pointer;
  background-color: white;
  color: #a2d2ff;
  border: 2px solid #a2d2ff;
  transition: all 1ms ease-in-out;
}

.search-button:active {
  background-color: #a2d2ff;
  opacity: 0.8;
}

header {
  border-bottom: 3px solid #f9f7fe;
  padding: 0 0 30px 0;
}

footer {
  border-top: 3px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-size: 15px;
  font-weight: 600px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

a {
  color: #885df1;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 30px;
}

.weather-app-city {
  font-size: 38px;
  line-height: 48px;
  margin: 0;
}

.weather-app-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.weather-app-details strong {
  color: #f65282;
}

.weather-temperature-container {
  display: flex;
}

.weather-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 1;
  margin-left: 10px;
}

.weather-icon {
  width: 88px;
  height: 88px;
}

.weather-units {
  margin-top: 8px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 38px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}